body {
  font-family: 'Montserrat', sans-serif;
  color: #19245a;
  background-color: #ffffff;
}

// navbar
.navbar-brand img {
  height: 70px;
}

.navbar-light {
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-weight: 18px;
        color: #19245a;
        background-color: #ffffff;

        &.active {
          font-weight: bold;
          color: #19245a !important;
          font-size: 18px;
        }
      }
    }
  }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

// header
header {
  max-width: 100%;
  padding: 98px 0px 125px;
  background-image: url('../images/Group 48.png');
  background-size: cover;
  background-color: linier-gradient;
}

header .Profile-big-title h2 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
}

header .Profile-big-title p {
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  max-width: 750px;
}

@media (min-width: 992px) {
  header {
    background-image: url('../images/Group 48.png');
  }
  header .Profile-big-title p {
    margin-top: 20px;
  }
}

//main
#section-login{
  .box{
    background-color: rgb(156, 156, 156);
  }
}

/* Footer*/
#Section-footer {
  background-color: #ffffff;
  li.imglogobrand {
    max-width: 223px;
    max-height: 165px;
  }
  .footer-link-list {
    a {
      color: #080f2e;
      text-decoration: none;
      font-size: 18px;
    }
  }
  ul li {
    font-size: 18px;
  }

  a:hover {
    color: #ff8f3e;
    text-decoration: none;
  }

  ul.footer-link-list li {
    padding-top: 10px;
  }
}

#footer-copyright {
  color: #ffffff;
  background-color: #080f2e;
}
