body {
  font-family: 'Montserrat', sans-serif;
  color: #19245a;
  background-color: #ffffff;
  padding-bottom: -20px;
}

.navbar-brand img {
  height: 70px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  font-weight: 18px;
  color: #19245a;
  background-color: #ffffff;
}

.navbar-light .navbar-nav .nav-item .nav-link.active {
  font-weight: bold;
  color: #19245a !important;
  font-size: 18px;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: .5rem;
  }
}

header {
  max-width: 100%;
  padding: 98px 0px 125px;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(7%, rgba(91, 91, 91, 0.7)), color-stop(35%, rgba(181, 181, 181, 0.8)), color-stop(57%, rgba(179, 179, 179, 0.9)), color-stop(62%, rgba(189, 189, 189, 0.9)), color-stop(68%, rgba(199, 199, 199, 0.9)), to(white)), url("../images/Group 2.png");
  background-image: linear-gradient(to left, rgba(91, 91, 91, 0.7) 7%, rgba(181, 181, 181, 0.8) 35%, rgba(179, 179, 179, 0.9) 57%, rgba(189, 189, 189, 0.9) 62%, rgba(199, 199, 199, 0.9) 68%, white 100%), url("../images/Group 2.png");
  background-size: cover;
  background-color: linier-gradient;
}

header .Profile-title h2 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
}

header .Profile-title p {
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  max-width: 750px;
}

@media (min-width: 992px) {
  header {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(7%, rgba(91, 91, 91, 0.4)), color-stop(35%, rgba(181, 181, 181, 0.7)), color-stop(57%, rgba(179, 179, 179, 0.8)), color-stop(62%, rgba(189, 189, 189, 0.9)), color-stop(68%, rgba(199, 199, 199, 0.9)), to(white)), url("../images/Group 2.png");
    background-image: linear-gradient(to left, rgba(91, 91, 91, 0.4) 7%, rgba(181, 181, 181, 0.7) 35%, rgba(179, 179, 179, 0.8) 57%, rgba(189, 189, 189, 0.9) 62%, rgba(199, 199, 199, 0.9) 68%, white 100%), url("../images/Group 2.png");
  }
  header .Profile-title p {
    margin-top: 20px;
  }
}

.section-Kita-Adalah {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-Kita-Adalah img {
  width: 340px;
  max-height: auto;
}

.section-Kita-Adalah .text-Kita-Adalah {
  text-align: justify;
  margin-top: 30px;
  padding-left: 15px;
}

.section-Kita-Adalah .text-Kita-Adalah h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 16px;
}

.section-Kita-Adalah .text-Kita-Adalah p {
  font-size: 16px;
  color: #6B6C6D;
}

@media (min-width: 992px) {
  .section-Kita-Adalah {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-Kita-Adalah img {
    width: 450px;
    max-height: auto;
  }
  .section-Kita-Adalah .text-Kita-Adalah {
    text-align: justify;
    padding-top: 50px;
    padding-left: 15px;
  }
  .section-Kita-Adalah .text-Kita-Adalah h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .section-Kita-Adalah .text-Kita-Adalah p {
    font-size: 18px;
    color: #6B6C6D;
  }
}

.section-Visi-Misi {
  border-top: 3px solid #E46A26;
  border-bottom: 3px solid #E46A26;
}

.section-Visi-Misi .Visi-Misi-Space .object-Visi .object-Visi-Media img {
  width: 38px;
  height: auto;
}

.section-Visi-Misi .Visi-Misi-Space .object-Visi .object-Visi-Media span {
  font-family: 'Poppins', sans-serif;
  margin-left: 6px;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}

.section-Visi-Misi .Visi-Misi-Space .object-Visi .object-Visi-Text p {
  font-size: 16px;
  color: #6B6C6D;
  text-align: justify;
}

.section-Visi-Misi .Visi-Misi-Space .object-Misi .object-Misi-Media img {
  width: 38px;
  height: auto;
}

.section-Visi-Misi .Visi-Misi-Space .object-Misi .object-Misi-Media span {
  font-family: 'Poppins', sans-serif;
  margin-left: 6px;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}

.section-Visi-Misi .Visi-Misi-Space .object-Misi .object-Misi-Text p {
  font-size: 16px;
  color: #6B6C6D;
  text-align: justify;
}

@media (min-width: 992px) {
  .section-Visi-Misi {
    border-top: 3px solid #E46A26;
    border-bottom: 3px solid #E46A26;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section-Visi-Misi .Visi-Misi-Space .object-Visi {
    padding-right: 15px;
  }
  .section-Visi-Misi .Visi-Misi-Space .object-Visi .object-Visi-Media img {
    width: 42px;
    height: auto;
  }
  .section-Visi-Misi .Visi-Misi-Space .object-Visi .object-Visi-Media span {
    font-family: 'Poppins', sans-serif;
    margin-left: 6px;
    font-size: 34px;
    font-weight: bold;
    vertical-align: middle;
  }
  .section-Visi-Misi .Visi-Misi-Space .object-Visi .object-Visi-Text p {
    font-size: 20px;
    color: #6B6C6D;
  }
  .section-Visi-Misi .Visi-Misi-Space .object-Misi {
    padding-left: 15px;
  }
  .section-Visi-Misi .Visi-Misi-Space .object-Misi .object-Misi-Media img {
    width: 42px;
    height: auto;
  }
  .section-Visi-Misi .Visi-Misi-Space .object-Misi .object-Misi-Media span {
    font-family: 'Poppins', sans-serif;
    margin-left: 6px;
    font-size: 34px;
    font-weight: bold;
    vertical-align: middle;
  }
  .section-Visi-Misi .Visi-Misi-Space .object-Misi .object-Misi-Text p {
    font-size: 20px;
    color: #6B6C6D;
  }
}

/* Footer*/
#Section-footer {
  background-color: #ffffff;
}

#Section-footer li.imglogobrand {
  max-width: 223px;
  max-height: 165px;
}

#Section-footer .footer-link-list a {
  color: #080F2E;
  text-decoration: none;
  font-size: 18px;
}

#Section-footer ul li {
  font-size: 18px;
}

#Section-footer a:hover {
  color: #FF8F3E;
  text-decoration: none;
}

#Section-footer ul.footer-link-list li {
  padding-top: 10px;
}

#footer-copyright {
  color: #ffffff;
  background-color: #080F2E;
}
/*# sourceMappingURL=mainProfiles.css.map */